<form #f="ngForm">
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" name="Name" class="form-control" id="Name" [(ngModel)]="Name" placeholder="Enter Name" size="30" #name="ngModel" required>
      <span class="help-block" style="color: red" *ngIf="!name.valid && name.touched">please enter a name</span>
    </div>
    <div class="form-group">
      <label for="Email">Email</label>
      <input type="Email" name="Email" class="form-control" id="Email" [(ngModel)]="Email" placeholder="Name Email" #email="ngModel" required>
      <span class="help-block" style="color: red" *ngIf="!email.valid && email.touched">please enter a email</span>
    </div>
    <div class="form-group">
        <label for="Phone">Phone</label>
        <input type="number" name="Phone" class="form-control" id="Phone" [(ngModel)]="Phone" placeholder="Phone" minlength="11" #phone="ngModel" required>
      <span class="help-block" style="color: red" *ngIf="!phone.valid && phone.touched">minimum length: 11 number</span>
      </div>

    <button class="btn btn-primary" type="button" style="margin-right: .25em" [disabled]="!f.valid" (click)="saveContact()">Save</button>
    <button class="btn btn-secondary" type="button" (click)="cancelContact()">Cancel</button>
  </form>
