  <div class="card text-dark  mb-3 mr-5" style="max-width: 18rem">
    <div class="card-header text-white bg-success">{{contact.Name}}</div>
    <div class="card-body">
      <h5 class="card-title ">{{contact.Email}}</h5>
      <p class="card-text">{{contact.Phone}}</p>
      <a [routerLink]="['/EditContacts', contact.id]" routerLinkActive="router-link-active"  class="btn btn-primary" style="margin-right: .40em">Edit</a>
      <a class="btn btn-danger text-white"  (click)="deleteContact()">Delete</a>
  </div>
